
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-color:transparent">
    <h2>Programmer Practice Test</h2>
    <h1>Sitrahmano</h1>
    <p><a href="https://www.youracclaim.com/users/sit-rahmano" class="btn btn-primary btn-lg">About Rahmano&raquo;</a></p>
</div>